.primary-button {
  background: $green;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 12px 18px;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
